.mainContainer
{
    display: inline-block;
    border-radius: 6px;
}
.horizontalElement
{
    display: inline-block;
    position: relative;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
.earthIcon{}
.ovalLabel{}
.circularIcon{}
.circle{}
.rightArrow{}
.ribbon{}
.simpleIcon{}
.treesIcons{}
.Co2Icons{}
.subtitles{}

#Header
{
    width: 100%;
    height: 80px;
    background-color: #77ccc9;
    display: block;
}
#HeaderArrow{}
#EarthIcon
{ 
    width: 68px;
    height: calc(100% - 10px);
    margin-left: 10px;
    background-color: white;
}
#DateLabel{}
#TimeLabel{}
#SolarStatus{}
#SolarStatusON{}
#SolarStatusOFF{}
#Update{}
#UpdateTimer{}
#Production{}
#ProductionIcon{}
#ProductionLabel{}
#Bulbs{}
#BulbsIcon{}
#BulbsLabel{}
#MonthTotal{}
#MonthTotalIcon{}
#MonthTotalLabel{}
#WeekGraph{}
#Trees{}
#TreesHeader{}
#TreesIconLeft{}
#TreesValue{}
#TreesIconRight{}
#TreesSubtitles{}
#Co2Today{}
#Co2Header{}
#Co2IconLeft{}
#Co2Value{}
#Co2IconRight{}
#Co2Subtitles{}




