
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text{display: inline;}
.smallerText{font-size: 0.7em; display:inline;}
.underlinedText{ display: inline-block; border-bottom: solid black 0.12vw;}
.superText{ display: inline-block; font-size: 0.6em; transform: translate(0.45em, -0.45em);}
.mainContainer
{
    display: inline-block;
    border-radius: 0.45vw;
    position: relative;
    float: left;
}
.horizontalChainnedMainContainer
{
    background-color: #e8e9ea;
    margin-top: 1.8%;
    height: 19.3%;
    width: 30.05%;
    margin-left: 1.8%;
}
.verticalChainnedMainContainer
{
    border: solid 0.2vw black;
    margin-left: 1.68%;
    width: 45.65%;
    height: 25.8%;
    border-radius: 0.45vw;
}
.horizontalElement
{
    display: inline-block;
    position: relative;
    float: left;
    margin-bottom: 8px;
    margin-top: 8px;
    height: calc(100% - 16px);
}
.earthIcon
{
    background-image: url("../images/Globe.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ovalLabel
{
    width: 5.6%;
    height: 27%;
	background-color: #bbe6e4;
    border-radius: 30px;
    border: solid black 0.11vw;
    text-align: center;
    font-family: "Medium";
    font-size: 0.9vw;
    margin: 0;
    top: 58%;
    transform: translateY(-50%);
}
.circularIcon
{    
	background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%,50%;
}
.circle
{
	width: 18%;
    height: calc(18% / (19.3 / 54.734));
    background-color: #ffffff;
    position: relative;
    top: 49%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: solid 0.25vw #f69539;
}
.circle2
{
    width: 16%;
    height: calc(calc(16 * 46.3 * 1.777 / 26) * 1%);
    background-color: #ccdfe5;
    position: relative;
    top: 34.5%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: solid 0.25vw #126b88;
    text-align: center;
    font-family: "Bold";
    display: inline-block;
    float: left;
    margin-left: 2.2%;
    margin-right: 3.2%;
    font-size: 1.8vw;
}
.horizontalChainnedMainContainerLabel
{
	font-family: "Regular";
    display: inline-block;
    margin-left: 4.7%;
    height: 50%;
    width: 58%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.23vw;
    line-height: 1.8vw;
}
.focusedValue
{
    color: #fa8e2d;
    display: inline;
    font-family: "Bold";
    margin-right: 0.25em;
}
.rightArrow
{
    position: absolute;
    left: -4.2%;
    width: 4%;
    height: 10%;
    background-image: url(../images/triangle.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-92%);
}
.ribbon
{
    position: relative;
    width: 100%;
    height: 13%;
    background-color: blueviolet;
    margin-top: 2.5%;
    text-align: center;
	font-family: "Medium";
	color: white;
    font-size: 0.834vw;
}
.simpleIcon{}
.treesIcons
{
	background-image: url("../images/Trees.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 11%;
    height: 33%;
    display: inline-block;
	float: left;
    margin-top: 5%;
}
.Co2Icons
{
	background-image: url("../images/Carbon Factory.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 9%;
    height: 35%;
    display: inline-block;
    float: left;
    margin-top: 5.3%;
}
.subtitles
{    
    display: inline-block;
    text-align: center;
    width: 100%;
    bottom: 6%;
    left: 50%;
    float: right;
    position: absolute;
    transform: translateX(-50%);
    font-family: "Regular";
    font-size: 0.82vw;
}
.verticalAlign
{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.graphYValue
{
    position: absolute;
    bottom: calc(0* (100 / 9) * 1%);
    width: 100%;
    height: 0.1vw;
    background-color: #b6d2db;
}
.graphYValue_Label
{
    position: absolute;
    height: 1vw;
    width: 5%;
    top: 0;
    left: -0.5%;
    transform: translate(-100%, -50%);
    font-size: 0.62vw;
    text-align: right;
}
.graphBar
{
	position: absolute;
    bottom: 0%;
    height: calc(7 * (100/9) * 1%);
    max-width: 7.4%;
    width: 7.4%;
    background-color: #f6983f;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    margin-left: 5%;
    transition: height 2s;
}
.graphBarLabel
{
    position: absolute;
    bottom: 0;
    height: 1vw;
    transform: translateY(175%);
    font-size: 0.6vw;
    text-align: center;
    width: 100%;
}

/* Runtime Classes */
.toggle_on{ background-color: #fdcc6e; }

/* IDs */
#Screen
{
    font-family: 'Regular';
    display: block;
    width: calc(100% - 20px);
    height: calc(55.7894vw - 20px);
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    top: 10px;
    left: 10px;
   /* background-image: url(../design.png); */
    background-repeat: no-repeat;
    background-size: contain;
}
#Header
{   
    width: 93.8%;
    height: 10%;
    background-color: #77ccc9;
    display: block;
    transform: translate( calc(5% / 2) , 0 );
    margin-top: 2.2%;
}
#HeaderArrow
{
    position: absolute;
    height: 30%;
    width: 2.2%;
    float: left;
    background-color: #77ccc9;
    top: 83.9%;
    left: 7.85%;
    transform: rotateZ(45deg);
}
#EarthIcon
{ 
    width: 4%;
    margin-left: 1.59%;
}
#DateLabel
{
    font-size: 2.066vw;
    font-family: 'Medium';
    margin-left: 2%;
}
#TimeLabel
{
    font-family: 'Medium';
    margin-left: 2%;
    font-size: 1.25vw;
    margin-top: 15px;
    margin-bottom: 1px;
    color: #1d536b;
    width: 10%;
}
#SolarStatus
{
    margin-left: 19.15%;
    font-family: "Regular";
    font-size: 0.93vw;
    margin-top: 15px;
    margin-bottom: 1px;
}
#SolarStatusON{ margin-left: 2.6%; }
#SolarStatusOFF{ margin-left: 1.2%;}
#Update
{
    font-family: "Regular";
    font-size: 0.94vw;
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 3%;
}
#UpdateBar
{
	position: absolute;
	background-color: #fdcc6e;
	height : 100%;
	left:0;
    border-radius: 30px;
    clip-path:inset(0% 0% 0% 0%);
    width: 100%;
}
#UpdateTimer{ margin-left: 1.18%;}
#Production
{
    margin-left: 2.39%;
}
#ProductionIcon
{
    float: left;
    margin-left: 10.8%;
    display: inline-block;
	background-image: url("../images/Clean Energy.png");
}
#ProductionLabel{}
#Bulbs{}
#BulbsIcon
{
    float: left;
    margin-left: 17.5%;
    display: inline-block;
	background-image: url("../images/Lightbulbs.png");
}
#BulbsLabel{ width: 48%; }
#MonthTotal{}
#MonthTotalIcon
{   
    float: left;
	margin-left: 10.3%;
    display: inline-block;
	background-image: url("../images/Total AC.png");
}
#MonthTotalLabel{}
#WeekGraph
{
    border-radius: 0.45vw;
    float: left;
    width: 45.75%;
    height: 55.5%;
    border: solid 0.22vw;
    margin-top: 1.43%;
    margin-left: 2.28%;
}
#Y_Axis
{	
    position: absolute;
    height: 100%;
    background-color: red;
    width: 0.1vw;
    margin-left: 9.4%;
}
#WeekGraphTitle
{
	width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.4%;
    font-size: 0.62vw;
}
#WeekGraphWeekRange
{
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.6%;
    font-size: 0.94vw;
    font-family: "Medium";
}
#WeekGraph_YValues
{
    position: absolute;
    width: 91.7%;
    height: 80.6%;
    top: 11.6%;
    left: 6%;
}
#WeekGraph_BarsContainer
{
    position: absolute;
    width: 88%;
    height: 80.7%;
    top: 11.5%;
    left: 9.7%;
}
#Trees
{
    margin-top: 1.43%;
}
#TreesHeader
{
    background-color: #23aa4a;
}
#TreesIconLeft{ margin-left: 28.755%; }
#TreesValue
{
    background-color: #e5f3d9;
    border-color: #3ab152;
}
#TreesIconRight{}
#TreesSubtitles{}
#Co2Today
{
    margin-top: 1.7%;
}
#Co2Header
{
    background-color: #00607f;
}
#Co2IconLeft
{
    margin-left: 31.6%;
}
#Co2Value
{
    margin-left: 1.35%;
    margin-right: 1.85%;
    font-size: 1.3vw;
}
#Co2IconRight{}
#Co2Subtitles{}

@font-face { font-family: 'Bold Italic'; src: url('../fonts/usual-cufonfonts/Bold Italic.otf'); }
@font-face { font-family: 'Bold'; src: url('../fonts/usual-cufonfonts/Bold.otf'); }
@font-face { font-family: 'ExtraBold Italic'; src: url('../fonts/usual-cufonfonts/ExtraBold Italic.otf'); }
@font-face { font-family: 'ExtraBold'; src: url('../fonts/usual-cufonfonts/ExtraBold.otf'); }
@font-face { font-family: 'Italic'; src: url('../fonts/usual-cufonfonts/Italic.otf'); }
@font-face { font-family: 'Light Italic'; src: url('../fonts/usual-cufonfonts/Light Italic.otf'); }
@font-face { font-family: 'Light'; src: url('../fonts/usual-cufonfonts/Light.otf'); }
@font-face { font-family: 'Medium Italic'; src: url('../fonts/usual-cufonfonts/Medium Italic.otf'); }
@font-face { font-family: 'Medium'; src: url('../fonts/usual-cufonfonts/Medium.otf'); }
@font-face { font-family: 'Regular'; src: url('../fonts/usual-cufonfonts/Regular.otf'); }


